<% provide(:title, 'log in it !') %>

<%= form_for(:session, url: login_path) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class:"form-control text-center" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, class:"form-control text-center", type:"password" %>
  </div>

  <div class="form-group">
    <%= f.submit 'let\'s log !', class:"btn btn-outline-success" %>
  </div>


<% end %>

<%= link_to "New User ? -> go signup  b o i", signup_path %>